*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  color: #081d2f;
  background-color: #d6e4ee;
  margin: 0;
  font-family: "inter", Arial, Helvetica, sans-serif;
 
}
#header{
  display: flex;
  justify-content: space-between;
  position:fixed;
  top:0;
  width:100%;
  align-items: center;
  background-color: steelblue;
}


#header #nav-bar {
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: -10px; 
  padding: 1.1em;
  font-size: 1.3em;
}

#header-img {
  width: 60px;
  border-radius: 5px;
  margin-left: 2em;
}

#img-container {
display: flex;
} 

#company-desc {
font-size: 1.3em;
padding-left: 0.45em;
color: #5f0411;
font-family: 'monkey'Verdana, Geneva, Tahoma, sans-serif;
}
span {
color: #40050e;
}
#nav-bar {
  display: flex;
  align-items: space-evenly;
  justify-content: center;

  font-size: 1.2rem
}

a, .nav-link {
  text-decoration: none;
  margin-right: 1em;
  color: #000;
}

.nav-link:hover,
.nav-link:focus {
cursor: pointer;
color:#34383c;
font: 900;
}

.main-container {
padding: 20px;
height: 100vh;
flex-direction: column;
display: flex;
align-items:center;
justify-content: space-between;
} 


#features {
  margin: 3em 1em;
  font-size:1.1em;
  font-family: "lato", sans-serif;
  padding: 0.5em;
  line-height: 1.85;
  justify-self: center;
}
#features-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-link,
.developer > a{
  color: steelblue
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

#email,
#full_name,
#subject {
  padding: 0.7em 1.5em;
  margin: 0.5em 0;
  font-size: 1em;
  border-radius: 5px;
  box-shadow: 0px 2px 2px whitesmoke ;
}
#features-intro > h1 {
  color: #081d2f;
  font: 500;
}

#submit {
  padding: 0.7em 1.5em;
  margin-top: 0.325em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: skyblue;
  font-size: 0.85em;
  font: bold;
}
#submit:hover,
#submit:active
 {
  color: whitesmoke;
  background-color: steelblue
}

#services {
  font-size:  1.1em;
  padding: 1em 2em;
}

#why-us
{
  padding: 0.325em;
  color:#081d2f;
  font-family: "lato", sans-serif;
}

.service-benefit {
  font-size: 1.2em;
  line-height: 1.35;
  padding-bottom: 0.625em;

}
.other-services {
  padding-bottom: 0.5em;
}

.video-info {
  color: #081d2f;
  padding-bottom: 0.425em;
}

#video {
   width :100%;
    height :350px
}

.roles {
  list-style: inside circle;
  padding-left: 0.925em;
  font-size: 1.2em;
  line-height: 1.35em;
  word-spacing: 0.15em;
  padding-bottom: 0.25em; 
}

#products {
  padding: 1.5em;
  display: flex;
  flex-wrap: wrap;
}

.product-heading,
.contact-heading {
  margin-bottom: 0.325em;
  font-size: 2em;
  text-transform: capitalize;
}

.contact-subheading,
.developer {
 text-align: justify;
 font-size: 1.2em;
 font-weight: 400;

}

.allproducts {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
}

.form-floating {
  display: flex;
  flex-direction: column;
  align-items:center
}
.all-products > img {
  width: 600px;
  
}
#selected-img ,
#judgement{
  height: 400px;
}

#contact-us {
  padding: 1.5em 5em;
}

#footer{
  text-align:center;
  font-family: "lato", sans-serif;
  padding: 1em;
  margin-bottom: 1em;
}
.contact-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 1 1.4em;
  font-size: 1.5rem;
}

#message {
  font-size: 1.1rem;
  padding: 1em 0;
  color:#34383c;
  padding: .55em;
  resize: none;
  border-radius: 5px;
  background-color: #e0e0e0
}

.label {
 align-self: start;
}

@media(max-width: 800px){
    body{
      font-size: 1.5rem

    }
}

@media only screen and (min-width: 250px) and (max-width: 420px) {
#header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: steelblue;
}
.nav-link {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  padding-left: 1.5em;
  font-size: 1.2rem
}
} 
